@font-face {
 	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}


body {
	background-color: #ffffff;
	margin: 0px;
	height: 100%;
	color: #555;
	font-family: 'inconsolata';
	font-size: 15px;
	line-height: 18px;
	overflow: auto;
}

h1 {
	margin-top: 30px;
	margin-bottom: 40px;
	margin-left: 20px;
	font-size: 25px;
	font-weight: normal;
}

body,td,th {
	font-family: "Open Sans Condensed", sans-serif;
	font-size: medium;
}

h2 {
	font-size: 20px;
	font-weight: normal;
	text-align:center; 
}

a {
	color: #2194CE;
	text-decoration: none;
}

#panel {
	position: fixed;
	left: 0px;
	width: 310px;
	height: 100%;
	overflow: auto;
	background: #fafafa;
}

#panel #content {
	padding: 0px 20px 20px 20px;
}

#panel #content .link {
	color: #2194CE;
	text-decoration: none;
	cursor: pointer;
	display: block;
}

#panel #content .selected {
	color: #ff0000;
}

#panel #content .link:hover {
	text-decoration: underline;
}

#viewer {
	position: absolute;
	border: 0px;
	left: 310px;
	width: calc(100% - 310px);
	height: 100%;
	overflow: auto;
}

#button {
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 8px;
	color: #fff;
	background-color: #555;
	opacity: 0.7;
}

#button:hover {
	cursor: pointer;
	opacity: 1;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 25px;
  line-height: 20px;
}

.filterBlock{
	margin: 20px;
	position: relative;
}

.filterBlock p {
	margin: 0;
}

#filterInput {
	width: 100%;
	padding: 5px;
	font-family: inherit;
	font-size: 15px;
	outline: none;
	border: 1px solid #dedede;
}

#filterInput:focus{
	border: 1px solid #2194CE;
}

#clearFilterButton {
	position: absolute;
	right: 6px;
	top: 50%;
	margin-top: -8px;
	width: 16px;
	height: 16px;
	font-size: 14px;
	color: grey;
	text-align: center;
	line-height: 0;
	padding-top: 7px;
	opacity: .5;
}

#clearFilterButton:hover {
	opacity: 1;
}

.filtered {
	display: none !important;
}

#panel li b {
	font-weight: bold;
}

/* mobile */

#expandButton {
	display: none;
	position: absolute;
	right: 20px;
	top: 12px;
	width: 32px;
	height: 32px;
}

#expandButton span {
	height: 2px;
	background-color: #2194CE;
	width: 16px;
	position: absolute;
	left: 8px;
	top: 10px;
}

#expandButton span:nth-child(1) {
	top: 16px;
}

#expandButton span:nth-child(2) {
	top: 22px;
}

@media all and ( max-width: 640px ) {
	h1{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	#panel{
		position: absolute;
		left: 0;
		top: 0;
		height: 480px;
		width: 100%;
		right: 0;
		z-index: 100;
		overflow: hidden;
		border-bottom: 1px solid #dedede;
	}
	#content{
		position: absolute;
		left: 0;
		top: 90px;
		right: 0;
		bottom: 0;
		font-size: 17px;
		line-height: 22px;
		overflow: auto;
	}
	#viewer{
		position: absolute;
		left: 0;
		top: 56px;
		width: 100%;
		height: calc(100% - 56px);
	}
	#expandButton{
		display: block;
	}
	#panel.collapsed{
		height: 56px;
	}
}

.video-preview {
    display: inline-block;
    position: relative;
    /* background: #ddd; */
    overflow: hidden;
    /* This is temporary width and height, these'll be overriden when the source img is loaded. */
    /* If you already know size of a preview frame you can hardcode it here. */
    width: 192px;
    height: 108px;
    /* border-radius: 2px; */
    /* box-shadow: 0 0 3px #bbb; */
    text-align:center;
    background-image: url(../img/error_preview.jpg); 
}

.stats
{
	font-family:sans-serif;
	font-size:10pt;
	border: 1px solid #dedede;
	width: 800px;  
	text-align:center; 
}

.videoTable
{
    border: 0px solid black;
	width: 400px;  
	text-align:center; 

}

.mainTable
{
    border: 0px solid black;
	text-align:center; 
}

.wrapper {
		margin: 10px 10px 10px 10px;
    text-align: center;
}

.button {
	margin: 10px 10px 10px 10px;
    	text-align:centre;
}

p {
    margin-left: 2cm;
}

img {
    vertical-align: top;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    text-align: center;
}


#canvas {
    background-color: #FFFFFF;
    width: 642px;
    height: 482px;
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	border: 1px solid #dedede;
}

#stats-table {
    margin-left: 60px;
	margin-right: 60px;
	margin-top: 10px;
	margin-bottom: 10px;

}

#titleFrame-table {
	width: 960px;
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

#titleCam-table {
	width: 750px;
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

.catg-title
{
    color: #000000;
    font-family: Helvetica, Georgia, Times, sans-serif;
    font-size: 20px;
	margin-top: 0.7em;
    margin-bottom: 0.3em;
	margin-left: 60px;	
    padding-bottom: 0.2em;
    line-height: 1.0;
    padding-top: 0.5em;
}

.figureTitle
{
    font-size: 13px;
}

.videoVGA
{
	border: 1px solid #CCC;
	height: 200px;
}

.videoHD
{
	border: 1px solid #CCC;
	height: 200px;
}

.videoKinect
{
	border: 1px solid #CCC;
	height: 200px;
}


.description
{
	margin-left: 60px
}
